# cmake

CMakeCache.txt
CMakeFiles
CMakeScripts

raspberry/Makefile
raspberry/build
raspberry/*.xcodeproj

cmake_install.cmake
install_manifest.txt
.vscode

# arduino-mk
build-mega2560
build-*

# platformio
.pioenvs

# AFP
.AppleDouble
.DS_Store

