# cmake

CMakeCache.txt
CMakeFiles
CMakeScripts

# ignore folders used to generate Makefile / Xcode projects
raspberry/Makefile
raspberry/build
raspberry/xcode
raspberry/*.xcodeproj

cmake_install.cmake
install_manifest.txt
.vscode

# arduino-mk
build-mega2560
build-*

# platformio
.pioenvs

# AFP
.AppleDouble
.DS_Store

